@import "../../common/baseStyle";

.SubHeaderWrap {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    background-color: #fff;

    .search {
        position: relative;
        width: 270px;

        & > :nth-child(2) {
            color: $baseColor !important;
            position: absolute;
            top: 42%;
            right: 10px;
        }
    }
}