@import "../../common/baseStyle";

.ViewArticleWrap {
    position: relative;
    min-height: 700px;

    .floatLike {
        position: fixed;
        top: 170px;
        display: flex;
        animation: sliderDownLike .4s ease-in-out;
        flex-direction: column;
        animation-fill-mode: forwards;
    }

    main {
        background-color: $articleBgc;
        padding: 35px 20px 20px;
        margin: 0 auto;
        width: 700px;
    }

    img {
        cursor: pointer;
        max-width: 500px !important;
    }

    nav {
        width: 280px;
    }

    .likeSvg {
        transition: all .2s ease-in-out;
        margin-top: 20px;

        &:hover {
            color: $highlightColor !important;
            transform: scale(1.2);
        }
    }

    .avatar {
        display: flex;

        img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin-right: 15px;
        }
        
    }

    .nickname {
        font-size: 16px;
        font-weight: 700;
        color: #909090;
    }

    .date {
        font-size: 12px;
        color: #909090;

        label {
            margin: 10px 2px;
        }
    }

    .title {
        text-align: center;
        margin: 30px 0 10px;
    }

    .content {
        min-height: 400px;
    }

    .likeWrap {
        margin-top: 50px;
        padding-bottom: 30px;
        border-bottom: 1px dashed $borderColor;
        color: $baseColor;
        font-size: 16px;

        & > :nth-child(1) {
            display: flex;
            align-items: center;
            span {
                margin-left: 8px
            }
        }

        & > :nth-child(2) {
            margin-top: 15px;
            img {
                margin-right: 10px;
            }
        }
    }

    .like {
        color: $highlightColor !important;
    }

    .normal {
        color: #ccc !important;
    }

    .action {
        display: flex;
        justify-content: flex-end;
    }

    .commentBtnWrap {
        text-align: right;
    }

    code {
        display: block;
        width: 100%;
        overflow: scroll;
    }
}

@keyframes sliderDownLike
{
    0% {
        top: 170px;
    }
    100% {
        top: 200px;
    }
}