@import "../../common/baseStyle.scss";

.ArticlesWrap {
    padding: 10px 0px;

    .editorWrap {
        @extend .flexAlignCenter;
        justify-content: flex-end;
        padding: 10px 0px;

        & > div {
            width: 100px !important;
            font-size: 12px;
        }
    }

    .title {
        margin: -10px 0 10px;
        label {
            font-size: 20px;
        }
        input {
            font-size: 30px !important;
            font-weight: 400;
            padding-bottom: 6px !important;
        }
        & > div {
            font-size: 28px !important;
            width: 800px !important;
        }
    }

    .ql-editor {
        min-height: 600px;
    }

    footer {
        display: flex;
        margin-top: 4px;
        padding-right: 20px;
        justify-content: flex-end;
    }

    .markDownWrap {
        display: flex;
        justify-content: flex-start;

        & > :nth-child(1) {
            border: 1px solid $borderColor;
            outline: none;
            min-height: 600px;
            max-width: 500px;
            min-width: 500px;
        }

        & > :nth-child(2) {
            word-break: break-all;
        }

        img {
            max-width:400px !important; 
        }
    }

    .chipSelect {
        @extend .flexAlignCenter;
        margin-bottom: 30px;

        label {
            margin-right: 20px;
            color: rgba(0, 0, 0, 0.3);
        }
    }

    .breakAll {
        overflow: scroll;
        word-break: break-all;
    }
}