@import "../../common/baseStyle";

.ChipsWrap {
    width: 650px;
    padding: 30px 0 0 50px;

    .chipsList {
        @extend .flexAlignCenter;
    
        .chip {
            @extend .flexAlignCenter;
            margin-right: 20px;
            color: $baseColor;

            &:hover {
                color: darkgray;
                text-decoration: $baseColor;
            }
        }

        .chipLogo {
            margin-right: 4px;
        }

        .chipLabel {
            transition: all .2s ease-in;
            &:hover {
                transform: translate(5px);
                text-decoration: underline;   
            }
        }
    }
    
    .toggle {
        max-width: 110px !important;
    }

    .toggleWrap {
        display: flex;
        justify-content: flex-end;
    }
}