@import "../../common/baseStyle";

.folderItem {
    margin: 0 4px;
    padding: 4px 10px;
    border: 1px solid $baseColor;
    height: 22px;
    line-height: 22px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        border: 1px solid $highlightColor;
        color: $highlightColor;
    }
}
.highlightColor {
    border: 1px solid $highlightColor;
    color: $highlightColor;
}