@import "../../common/baseStyle";

.HeaderWrap {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 109px;
    font-size: 16px;
    background: rgba(255,255,255,.97)!important;

    .main {
        width: 1000px;
        height: 100%;
        margin: auto;
    }

    .logo {
        @extend .flexAlignCenter;
        justify-content: space-between;
        height: 65px;
        width: 100%;

        .logoMain {
            @extend .flexAlignCenter;
        }

        .welcome {
            @extend .flexAlignCenter;
            font-size: 14px;
            color: #717272;
        }

        .writeArticle {
            @extend .flexAlignCenter;
            margin-right: 20px;
            color: $baseColor;
            text-decoration: none;

            img {
                margin: -10px 0 0 4px;
            }
        }
    }

    .dividing {
        width: 1px;
        height: 28px;
        background-color: rgba(0,0,0,.15);
        margin: 0 30px 0 20px;
    }

    nav {
        box-sizing: border-box;
        padding-top: 6px;
        height: 44px;
        font-weight: 500;
        color: rgba(0,0,0,.54);

        a {
            text-decoration: none;
        }

        span {
            margin-right: 30px;
            cursor: pointer;
        }

        span:hover {
            color: rgba(0,0,0,.78);
            text-decoration: underline;
        }
    }

    .loginForm {

        .btnWrap {
            margin-top: 50px;

            & > :nth-child(2) {
                margin-left: 20px;
            }
        }
    }

    .avatar {
        cursor: pointer;
        border-radius: 20px;
        width: 40px;
        height: 40px;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px, rgba(0, 0, 0, 0.12) 0px 4px 8px;
            transition: .2s ease-in-out;
        }
    }
}

.personalMenu {
    @extend .flexAlignCenter;
    color: $baseColor;

    & > svg {
        margin-right: 8px;
    }

    & > a {
        color: $baseColor !important;
        text-decoration: none;
    }
}

.fixedHeader {
    animation: sliderDownHeader .5s;
    animation-fill-mode: forwards;
}
.absoluteHeader {
    animation: sliderUpHeader .5s;
    animation-fill-mode: forwards;
}

@keyframes sliderDownHeader
{
    0% {
        top: -109px  
    }
    100% {
        top: 0px  
    }
}

@keyframes sliderUpHeader
{
    0% {
        top: 0px
    }
    100% {
        top: -109px
    }
}