@import "../../common/baseStyle.scss";

.HomeWrap {
    padding-bottom: 30px;

    header {
        padding-top: 85px;
        text-align: center;

        img {
            width: 85px;
            height: 85px;
            border-radius: 85px;
        }

        .setting {
            margin-top: 1.1rem;
            padding: 8px 35px;
            opacity: 0.8;
            color: #000;
            border: 1px solid #000;
            background-color: #fff;
            font-size: 12px;
            outline: none;
            cursor: pointer;
        }
        .setting:hover {
            opacity: 1;
        }

        .nickname {
            margin-top: 25px;
            font-size: 2.5rem;
            font-weight: 400;
            color: #333;
        }

        .selfIntroduction {
            margin: 5px 0;
            font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
            color: #8b8b8b;
            font-size: 16px;
        }

        .email {
            margin: 5px 0;
            font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
            color: #8b8b8b;
            font-size: 16px;

            a {
                color: #8b8b8b !important;
            }
        }
    }
    main {
        border-radius: 2px;
        width: 600px;
        margin: 25px auto;
        padding: 0 25px;
        background-color: $articleBgc;

        .header {
            width: 100%;
            height: 60px;
            line-height: 60px;
            border-bottom: 1px solid $borderColor;
            font-weight: 600;
            color: #2b445d;
        }
    }
}