@import "../../common/baseStyle";

.HomeWrap {
    padding-bottom: 30px;

    header {
        padding-top: 85px;
        text-align: center;

        img {
            width: 85px;
            height: 85px;
            border-radius: 85px;
        }

        .setting {
            margin-top: 1.1rem;
            padding: 8px 35px;
            opacity: 0.8;
            color: #000;
            border: 1px solid #000;
            background-color: #fff;
            font-size: 12px;
            outline: none;
            cursor: pointer;
        }
        .setting:hover {
            opacity: 1;
        }

        .nickname {
            margin-top: 15px;
            font-size: 26px;
            font-weight: 400;
            color: #333;
        }

        .like {
            @extend .flexAlignCenter;
            justify-content: center;
            font-size: 16px;
            color: #8b8b8b;

            img {
                margin: 0 4px;
                width: 22px;
                height: 22px;
                border-radius: 0px;
            }

            svg {
                width: 26px !important;
                height: 26px !important;
                color: $highlightColor !important;
            }

        }

        .selfIntroduction {
            margin: 5px 0;
            color: #8b8b8b;
            font-size: 16px;
        }

        .email {
            margin: 5px 0;
            color: #8b8b8b;
            font-size: 16px;

            a {
                color: #8b8b8b !important;
            }
        }
    }
    main {
        border-radius: 2px;
        width: 600px;
        margin: 25px auto;
        padding: 0 25px;
        background-color: $articleBgc;

        .articleHeader {
            width: 100%;
            height: 60px;
            line-height: 60px;
            border-bottom: 1px solid $borderColor;
            font-weight: 600;
            color: #2b445d;
        }

        .articleFolder {
            @extend .flexAlignCenter;
            flex-wrap: wrap;
        }
    }
}

.addFolderItems {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 700px;
    min-height: 100px;

    & > :nth-child(1) {
        font-size: 12px;
    }
}