@import "../../common/baseStyle.scss";

.LikeListTmpWrap {
    display: flex;
    margin: 15px 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed $borderColor;

    & > :nth-child(1) {
        margin: -6px 4px 0 0 !important;
        padding: 0px !important;
    }

    .likeTitle {
        max-width: 270px;
        overflow: hidden;
        word-break: break-all;
    }

    a {
        cursor: pointer;
    }

    .likeTotal {
        @extend .flexAlignCenter;

        & > :nth-child(1) {
            margin-right: 10px;
        }

        svg {
            cursor: default !important;
            color: #909090 !important;
            width: 16px !important;
            height: 16px !important;
        }
    }
}