.NotFoundWrap {
    text-align: center;
    padding:50px 0px 100px;

    .notFoundNumber {
        font-size: 120px;
        margin-right: 30px;
    }

    .notFoundDesc {
        font-size: 20px;
    }

    img {
        margin-top: 30px;
    }
}