@import "../../common/baseStyle";

.ArticleTmpWrap {
    padding: 10px 0 10px;
    border-top: 1px solid $borderColor;

    .avatar {
        position: relative;
        @extend .flexAlignCenter;
        align-items: center;
        font-size: 14px;
        color: #8b8b8b;
        width: 100%;

        & > :nth-child(1) {
            margin-right: 10px!important;
            padding: 0px !important;
        }

        img {
            margin-right: 6px;
            width: 30px;
            height: 30px;
            border-radius: 30px;
        }

        span {
            margin: 0px 6px;
        }
    }

    a {
        cursor: pointer !important;
    }

    .date {
        font-size: 12px;
    }

    .title {
        display: block;
        color: #969696;
        font-size: 24px;
        font-weight: 600;
    }

    .content {
        display: block;
        max-height: 45px;
        overflow: hidden;
        word-break: break-all;
        color: #8b8b8b;
        font-size: 16px;
        margin: 0 0 10px;
    }

    .comment {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #b4b4b4;

        span {
            margin-right: 10px;
        }
        
        svg {
            cursor: default;
            color: #b4b4b4 !important;
            width: 14px !important;
            height: 14px !important;
        }
    }

    .imageContentWrap {
        display: flex;
        justify-content: space-between;

        .imageContent {
            margin: 10px 0 0 10px;
            width: 150px !important;
            max-height: 120px !important;
        }
    }

    .tags {
        color: $baseColor;
        border: 1px solid $baseColor;
        border-radius: 2px;
        padding: 0 6px;
    }
}