$baseColor: #6fbed5;
$borderColor: #ebebeb;

.container {
    position: relative;
    top: 70px;
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
}

.flexAlignCenter{
    display: flex;
    align-items: center;
}