$baseColor: rgba(0,0,0,.6);
$borderColor: rgba(0,0,0,.0785);
$articleBgc: #fff;
$fontFamily: Cambria, Cochin, Georgia, Times, Times New Roman, serif;

.container {
    position: relative;
    top: 70px;
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
}

.flexAlignCenter{
    display: flex;
    align-items: center;
}